# Virtual Environment
.venv
.venvv
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

